
.title-font {
    /* font-kerning: none; */
    letter-spacing: 0.0625em;
    
} 
@media only screen and (max-width: 600px){
    .title-font {
        /* background: rgb(0, 255, 106); */
        font-size: 30px;  
        margin: 1px; 
        line-height: 69%;

    } 
     #company-name{
        padding: 10px;
        /* background: red; */
        font-family: 'Elephant', sans-serif;
         position: absolute;
         /* width: 150px; */
         /* height: 150px; */

        /* height: 250px; */
        left: 20px;
        /* top: 0px; */
    }
    #title-row {
        width: 100vw;
        height: 30vh;
    }
}

 
/* Large devices (laptops/desktops, 600px and up) */
@media   screen and (min-width: 600px) {
    .title-font {
        /* background: green; */
        font-size: 40px;   
         margin: 1px;
        padding-top: 14px;
        line-height: 35%;

    }
 
    #company-name{

        padding: 10px; 
        padding-top: 5px;
        padding-bottom: 16px;
         /* background: orange;   */

        position: absolute;
        /* width: 170px; */
        /* height: 170px; */
        /* height: 250px; */
        left: 38px;
        /* top: 0px; */
    }
    #title-row {
        /* background: purple; */

        width: 100vw;
        height: 190px;
    }
}  